<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-warningalert></app-warningalert>
            <app-successalert></app-successalert>
        </div>
    </div>
</div>